<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>

    <appender name="global" type="log4net.Appender.RollingFileAppender">
      <param name="DatePattern" value="yyyyMMdd&quot;.GLOBAL&quot;"/>
      <param name="File" value="logger\"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="MaxSizeRollBackups" value="12"/>
      <param name="MaximumFileSize" value="12MB"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - [%level] %m%n"/>
      </layout>
    </appender>
    <appender name="global-exceptionless" type="Exceptionless.Log4net.ExceptionlessAppender,Exceptionless.Log4net">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - %m%n" />
      </layout>
    </appender>
    <logger name="global">
      <level value="INFO" />
      <appender-ref ref="global" />
      <appender-ref ref="global-exceptionless" />
    </logger>

    <appender name="monitor" type="log4net.Appender.RollingFileAppender">
      <param name="DatePattern" value="yyyyMMdd&quot;.MONITOR&quot;"/>
      <param name="File" value="logger\"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="MaxSizeRollBackups" value="12"/>
      <param name="MaximumFileSize" value="12MB"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - [%level] %m%n"/>
      </layout>
    </appender>
    <appender name="monitor-exceptionless" type="Exceptionless.Log4net.ExceptionlessAppender,Exceptionless.Log4net">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - %m%n" />
      </layout>
    </appender>
    <logger name="monitor">
      <level value="INFO"/>
      <appender-ref ref="monitor"/>
      <appender-ref ref="monitor-exceptionless"/>
    </logger>

    <appender name="scheduler" type="log4net.Appender.RollingFileAppender">
      <param name="DatePattern" value="yyyyMMdd&quot;.SCHEDULER&quot;"/>
      <param name="File" value="logger\"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="MaxSizeRollBackups" value="12"/>
      <param name="MaximumFileSize" value="12MB"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - [%level] %m%n"/>
      </layout>
    </appender>
    <appender name="scheduler-exceptionless" type="Exceptionless.Log4net.ExceptionlessAppender,Exceptionless.Log4net">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} - %m%n" />
      </layout>
    </appender>
    <logger name="scheduler">
      <level value="INFO"/>
      <appender-ref ref="scheduler"/>
      <appender-ref ref="scheduler-exceptionless"/>
    </logger>
  </log4net>
</configuration>
