<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="DnsClient" version="1.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Exceptionless" version="4.3.2012" targetFramework="net45" />
  <package id="Exceptionless.Log4net" version="4.3.2012" targetFramework="net45" />
  <package id="HP-Socket" version="5.0.2" targetFramework="net45" />
  <package id="HP-Socket.x64" version="5.0.2" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>