<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HealthCare.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <appSettings>
    <add key="sframed:Connection" value="mongodb://127.0.0.1:27017" />
    <add key="sframed:Database" value="SFRAMED" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <exceptionless apiKey="9gbJaJvGS0fah47mknqUfLKBkukxGXT4HDRFnWem" serverUrl="http://localhost:50000" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <HealthCare.WebService.Properties.Settings>
      <setting name="HealthCare_WebService_com_biohis_Medicine" serializeAs="String">
        <value>http://172.25.29.4:8081/BioIntegration/services/Medicine.MedicineHttpSoap11Endpoint</value>
      </setting>
      <setting name="HealthCare_WebService_BJFC_AddOrdInfoService" serializeAs="String">
        <value>http://192.168.0.71/csp/i-operation/DHC.ZNYG.BS.AddOrdInfo.cls</value>
      </setting>
    </HealthCare.WebService.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!--
SQLServer:
    测试地址 <add name="conn" providerName="System.Data.SqlClient" connectionString="data source=172.16.168.120;initial catalog=test;user id=sa;password=1qaz2wsx;" />    
    SDSL 正式库 <add name="conn" providerName="System.Data.SqlClient" connectionString="Data Source=172.23.6.133;Initial Catalog=AIMSInfoPlatform_sdsl;Persist Security Info=True;User ID=znhcg;Password=znhcg;"  />

Oracle:
    测试地址 connectionString="USER ID=SYSTEM;CONNECTION TIMEOUT=10240;PASSWORD=123456;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.168.246)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL.SFRAMED.COM)))"

    SDEY 测试库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=gzhcguser;CONNECTION TIMEOUT=10240;PASSWORD=123456;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.1.100.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=histest2016)))" />
    SDEY 正式库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=gzhcguser;CONNECTION TIMEOUT=10240;PASSWORD=123456;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.1.100.242)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=his)))" />
    
    SDBZ 测试库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=ZNYG;CONNECTION TIMEOUT=10240;PASSWORD=ZNYG1234;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.9.155)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=bzrmxxgl)))" />
    SDBZ 正式库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=ZNYG;CONNECTION TIMEOUT=10240;PASSWORD=ZNYG1234;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.8.114)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=bzrmxxgl)))" />
    BJFC 正式库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=ssmz;CONNECTION TIMEOUT=10240;PASSWORD=ssmz;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.7.44)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=docare)))" />
    BJTT 测试库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=sfra;CONNECTION TIMEOUT=10240;PASSWORD=sfra;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.28.10.148)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORA901)))" />
    BJTT 正式库 <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=sfra;CONNECTION TIMEOUT=10240;PASSWORD=sfra;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.28.1.101)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORA901)))" />
-->
    <add name="conn" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=sfra;CONNECTION TIMEOUT=10240;PASSWORD=sfra;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.28.1.101)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORA901)))" />
  </connectionStrings>
</configuration>